<button (click)="increment()">Increment</button>
{{counter()}}
<button (click)="stopEffect()">Stop effect</button>
<button (click)="addProduct()">Add product</button>
@for (product of products(); track product.id) {
  <div style="display: flex;">
    <h3>{{product.id}}</h3>
    <p>{{product.name}}</p>
    <p>{{product.price | currency}}</p>
  </div>
} @empty {
  <h1>No products</h1>
}
<h3>Total amount: {{totalAmount() | currency}}</h3>

<app-input-signal [(name)]="name"></app-input-signal>
<span>Hello {{name()}}</span>
